* {
	box-sizing: border-box;
}

body {
	background-color: #F3FFFD;
}

h1 {
	font-size: 56px;
}

h2 {
	color: #3D403F;
 	text-decoration: underline;
}

section {
	width: 650px;
	background-color:  #F3FFF0;
	margin: 30px;
	padding: 30px;
	border-width: 30px;
	border-style: solid;
	border-color: black;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	color: #3d403c;
}
